{% macro createLink(name, href) -%}
	<a href="{{ href }}">{{ name }}</a>
{%- endmacro %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Gewd Music</title>
<body>
	<h1 style="text-align:center">Gewd Mewsik</h1>
	<table style="margin:auto">
		<thead>
			<tr>
				<th><a href="{{ model.routes['id'] }}">id</a></th>
				<th><a href="{{ model.routes['user'] }}">user</a></th>
				<th><a href="{{ model.routes['date'] }}">date</a></th>
				<th><a href="{{ model.routes['artist'] }}">artist</a></th>
				<th><a href="{{ model.routes['album'] }}">album</a></th>
				<th><a href="{{ model.routes['track'] }}">track</a></th>
			</tr>
		</thead>
		<tbody>
			{% for record in model['records'] %}
			<tr>
				<td>{{ record[0] }}</td>
				<td>{{ record[2] }}</td>	
				<td>{{ record[3]|datetimeformat }}</td>
				{% if not record[5] and not record[6] %}
					<td>{{ createLink(record[4], record[1]) }}</td>
				{% else %}
					<td>{{ record[4] }}</td>
				{% endif %}
				{% if record[5] and not record[6] %}
					<td>{{ createLink(record[5], record[1]) }}</td>
				{% else %}
					<td>{{ record[5] }}</td>
				{% endif %}
				{% if record[6] %}
					<td>{{ createLink(record[6], record[1]) }}</td>
				{% else %}
					<td>{{ record[6] }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
